<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381771678383-7qc1c5qieacttdaroqjd60dgrj5804am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381771678383-7qc1c5qieacttdaroqjd60dgrj5804am</string>
	<key>API_KEY</key>
	<string>AIzaSyCyOAFwCG2U-ok-yUEiHfiMSnMvzhKNIVc</string>
	<key>GCM_SENDER_ID</key>
	<string>381771678383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-f44c2</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-f44c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381771678383:ios:d18dba21a9d1078ea44a5a</string>
</dict>
</plist>